<table>
    <thead>
        <th>Provider Specialty</th>
    </thead>
    <tbody>
        <% results.forEach(row => { %>
            <tr>
                <td><%= row.provider_specialty %></td>
            </tr> 
        <% }); %>
    </tbody>
</table>